/* iPhone 6 Plus portrait */
@media only screen 
  and (min-device-width: 414px)
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3){
	.zfk-mobile-only {
		display:block !important;
	}
	.zfk-desktop {
        display:none !important;
    }
	.socialize {
		margin-bottom: 10px;
		padding: 0 65px;
	}
	.social-slide {
		width: 55px !important;
		height: 55px !important;
	}
}

/* iPhone 6 Plus landscape */
@media only screen
  and (min-device-width: 736px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3){ 
	.zfk-mobile-only {
		display:none !important;
	}
	.zfk-header .zfk-row {
    padding-top: 0px;
    }
	body{background-size: 60% !important;}
	.zfk-logo {
		float: right;
		display: block;
	}
	.zfk-logo img {
		width: auto;
		margin-top: 5px;
		position: absolute;
		right: 75px;
	}
	.zfk-header-wrapper .zfk-header, .zfk-header-wrapper, .zfk-header-wrapper .zfk-secondary-main-menu {
		background-color: transparent;
	}
	.zfk-mobile-menu-design-modern.zfk-header-v5 .zfk-header {
	  padding-top: 0px !important;
	  padding-bottom: 0px !important;
	}
	.zfk-header-wrapper .zfk-header, .zfk-header-wrapper {
	  background-color: transparent !important;
	}
	.zfk-header-wrapper .zfk-secondary-main-menu {
	  background-color: transparent !important;
	}
	.zfk-mobile-menu-design-modern.zfk-header-v5 .zfk-mobile-menu-icons{
	  background-color: #333;
	  right: 0px;
	  margin-right: -30px;
	}
	.zfk-mobile-menu-design-modern.zfk-header-v5 .zfk-mobile-nav-holder {
	  padding-top: 20px !important;
	  margin-left: 0px !important;
	  margin-right: 0px !important;
	  margin-bottom: 0;
	}
 .zfk-layout-column.zfk-three-fourth {
    width: 65% !important;
	margin-right: 3% !important;
  }
  .zfk-one-fourth{max-width: 28%;}
  .zfk-layout-column{margin-left: 10px !important;}
  .zfk-layout-column.zfk-three-fourth{}
  .zfk-recent-posts .columns .column{margin-bottom: 0px !important;}
  .zfk-recent-posts .columns .column h4 {
    margin: 25px 0 3px 0;
  }
  .zfk-social-links {
    margin-bottom: 30px !important;
    margin-top: -12px;
  }
address {
        line-height: 16px;
}
	.social-slide {
		width: 34px !important;
		height: 34px !important;
	}
	#tagline-right{padding: 5px 0px 5px !important;}
	#tagline-right h4 {
		font-size: 15px;
	}
  .entry-title a {
    color: #333 !important;
    font-weight: 700 !important;
    font-size: 13px !important;
  }
  .recent-post-custom {
	margin: -20px -20px 0px 15px;
  }
  #pillars{
	width: 100% !important;
	margin: 0 !important;
  }
}
